.coffe {
  padding: 10px;
  outline: 1px solid black;
}

.coffe hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.coffe-header {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.coffe-header__title {
}
