.content {
  padding: 15px;
  border-radius: 5px;
  background: #08c;
  margin: 15px 2%;
  flex: 0 0 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-content {
  display: flex;
}